* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    width: 300px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ddd;
}

#message {
    margin-top: 15px;
    text-align: center;
    color: yellow;
  }
